language: go
go:
        - tip
sudo: false
env:
        - BUILDFLAVOR=goveralls
        - BUILDFLAVOR=pprof
        - BUILDFLAVOR=bench

before_install:
        - go get -v github.com/golang/lint/golint
        - go get github.com/mattn/goveralls
        - go get github.com/axw/gocov/gocov
        - go get golang.org/x/tools/cmd/cover

script:
        - ./build/${BUILDFLAVOR}.sh
